{
  "agent": {
    "loglevel": "debug"
  },
  "auth": {
    "service": "{{ agent_auth_url }}"
  },
  "controller": {
    "address": "{{ agent_controller_address }}",
    "port": {{ agent_controller_port }},
    "secure": {{ agent_controller_secure }}
  },
  "sinks": {

  },
  "sources": {

  }
}